<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904695866738-ctansit45lp06cfeqsjrfb4ag87r76p0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904695866738-ctansit45lp06cfeqsjrfb4ag87r76p0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>904695866738-taihins3j4rt51a1h18u328i3g565h6m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAWFJDeNth6vvcVHnAvVcEDWpWzqnOknKo</string>
	<key>GCM_SENDER_ID</key>
	<string>904695866738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suncloudtech.erestaurant</string>
	<key>PROJECT_ID</key>
	<string>erestaurant-70210</string>
	<key>STORAGE_BUCKET</key>
	<string>erestaurant-70210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904695866738:ios:05bcc5619ed0b248d469eb</string>
</dict>
</plist>